$black-color: #090909;
$ebony-green-color: #4B5043;
$white-blue-color: #9BC4BC;
$white-green-color:#D3FFE9;
$blue-color: #8DDBE0;
$black-blue-color: #4bd2db;
$dark-blue-color: #098b94;
$light-white: #ebebeb;

$white-color:#e7e7e7;
$gray-color: #b3b3b3;


$dark-blue-color-variant: rgb(8, 120, 128);
$ebony-green-color-variant: rgb(75, 80, 67, 0.5);