<section>
 <div class="container">
        <div class="presentation">
          <div class="subtitle">
            <h2>Olá, eu sou</h2>
            <h1>
              <span>L</span><span>u</span><span>í</span><span>s</span><span>&nbsp;</span><span>D</span><span>a</span><span>n</span><span>i</span><span>e</span><span>l</span>
            </h1>
          </div>
          <div class="title">
            <h1><span class="color-title">Desenvolvedor Front-End</span></h1>
          </div>
          <div class="text">
            <p>Desenvolvedor Front-End com experiência em desenvolvimento de sites e aplicações web. Atualmente, estou focado em desenvolvimento de aplicações web com Angular e React.</p>
          </div>
          <div class="button">
            <app-button text="Sobre mim" routerLink="/sobre"></app-button>
          </div>
        </div>

        <div class="photo">

        </div>
 </div>
</section>
