<nav class="navbar">
  <div class="logo"><img src="../../../assets/ld.svg" alt=""></div>

  <div class="nav-links">
    <a class="link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="link" routerLink="/sobre" routerLinkActive="active">Sobre</a>
    <a class="link" routerLink="/projetos" routerLinkActive="active">Projetos</a>
    <a class="link" routerLink="/contato" routerLinkActive="active">Contato</a>
  </div>

    <div class="hamburger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
</nav>

<div class="mobile-nav-links" [class.active]="menuOpen">
  <a class="link">Home</a>
  <a class="link">Sobre</a>
  <a class="link">Projetos</a>
  <a class="link">Contato</a>
</div>